.body {
  position: relative;
}

div.container {
  width: 80%;
  align-self: center;
  padding-top: 20px;
}

div#player-jumbo {
  text-align: center;
}
.edit-word {
  position: fixed;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input#current-time {
  width: 100%;
}

#player {
  width: 100%;
}

#side-menue {
  width: 200px;
  position: fixed;
  z-index: 1;
  opacity: 80%;
  top: 10px;
  left: 10px;
}

#files {
  width: 100%;
}

.edit-label {
  width: 40px;
}

#danger-buttons {
  float: right;
}

#edit-buttons {
  float: left;
}

#playerframe {
  position: fixed;
  width: 70%;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, 0%);
}

span.word:before {
  content: "\200D";
  display: inline;
}
