.body {
  position: relative;
}

div.container {
  width: 80%;
  align-self: center;
  padding-top: 20px;
}

div#player-jumbo {
  text-align: center;
}

div#editWord {
  position: absolute;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

input#current-time {
  width: 100%;
}

#player {
  width: 100%;
}

#side-menue {
  width: 200px;
  position: fixed;
  z-index: 1;
  opacity: 80%;
  top: 10px;
  left: 10px;
}

#files {
  width: 100%;
}
