.body {
  position: relative;
}

div.container {
  width: 80%;
  align-self: center;
  padding-top: 20px;
}

div#player-jumbo {
  text-align: center;
}

div.player {
  align-self: center;
}

div#edit-word {
  position: absolute;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
